{% extends "base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<div class="row">
  {% for product in products %}

  <div class="column">
    <div class="card">

       <div class="container">
             <h4><b>
                 <a href="{% url 'productDetail' product.id %}">
                     {{product.name}}
                 </a>
             </b></h4>
             <p>{{product.description}}</p>
       </div>
      </div>
  </div>
 {% endfor %}
</div>

<div>
 <br/>
  <a class="fcc-btn" href="{% url 'Home'  %}">Home </a>
</div>

{% endblock %}